.container {
  position: relative;
}

.hexagon {
  width: 2rem;
  height: 2rem;
  background: url('https://res.cloudinary.com/dgtqptpu1/image/upload/v1729553450/stars-removebg-preview_snn4fd.png') no-repeat center/contain;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: floating 3s ease-in-out infinite;
}

.hexagon:nth-child(1) {
  top: calc(20% + 25vh);
  left: calc(77% + 11vw);
}

.hexagon:nth-child(2) {
  top: calc(30% + 48vh);
  left: calc(73% + 10vw);
}

.hexagon:nth-child(3) {
  top: calc(10% + 41vh);
  left: calc(63% + 11vw);
}

.hexagon:nth-child(4) {
  top: calc(25% + 22vh);
  left: calc(69% + 10vw);
}

.hexagon:nth-child(5) {
  top: calc(35% + 35vh);
  left: calc(70% + 12vw);
}

.commitMessage {
  font-size: 0.75rem;
  color: #ede8f1;
  margin-top: 1.0rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  text-align: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  text-align: center;
  color: #333;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .hexagon {
    width: 3rem;
    height: 3rem;
    background-size: contain;
  }

  .hexagon:nth-child(1) {
    margin-top: 1.5rem;
  }

  .hexagon:nth-child(2) {
    transform: translateX(-10%);
  }

  .hexagon:nth-child(3) {
    transform: translateX(10%);
  }

  .hexagon:nth-child(4) {
    transform: translateX(-10%);
  }

  .hexagon:nth-child(5) {
    transform: translateX(10%);
  }
}
