@import url('https://fonts.googleapis.com/css?family=Jura:400');

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  align-items: flex-start;
  justify-content: flex-start;
}

.modal.open {
  display: flex;
}

.modal-container {
  font-family: 'Jura', sans-serif;
  background: #325169;
  border-radius: 8px;
  padding: 30px;
  max-width: 80vw;
  max-height: 80vh;
  overflow-y: auto;
  width: 90%;
  margin: auto;
  text-align: left;
  box-shadow:
    0 0 12px rgba(255, 255, 255, 0.3),
    0 0 18px rgba(255, 255, 255, 0.2);
}

.modal-container a {
  color: #ffb6c1;
}

.modal-container .phone-number {
  color: #ffb6c1;
}

.modal-container.small {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  max-width: 40vw;
  max-height: 50vh;
  overflow: hidden;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.img-frame {
  flex: 0 0 40%;
  overflow: hidden;
  border-radius: 8px;
}

.img-frame img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.hero-content {
  flex: 1;
  padding: 30px;
  color: white;
  animation: fadeInText 1s ease-in-out;
}

.hero-content p {
  color: white;
  font-size: 1vw;
  text-align: left;
}

@keyframes fadeInText {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.modal-container.project-modal {
  background: rgba(0, 0, 255, 1);
  backdrop-filter: none;
}

@media (max-width: 768px) {
  .hero-content p,
  .modal-container {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .modal-container.small {
    max-width: 90vw;
    max-height: 80vh;
    overflow-y: auto;
  }
}

@media (max-width: 480px) {
  .modal-container.small {
    max-width: 95vw;
    max-height: 90vh;
    overflow-y: auto;
  }
}

.btn-6 {
  background: radial-gradient(
    circle,
    rgb(212, 147, 175) 0%,
    rgba(118, 174, 241, 1) 100%
  );
  line-height: 42px;
  padding: 0;
  border: none;
  margin: 5px 0;
  width: 80%;
  max-width: 300px;
  text-align: center;
  display: inline-block;
  transition: border 0.3s ease;
}

.btn-6:hover {
  border: 2px solid rgba(255, 255, 255, 0.8);
  box-shadow:
    0 0 10px rgba(255, 255, 255, 0.6),
    0 0 20px rgba(255, 255, 255, 0.8);
}

.hello-header {
  text-align: center;
  margin-bottom: 10px;
}

.hello-text {
  color: #ffb6c1;
  font-size: 24px;
}

.paragraph-content {
  text-align: left;
}
