@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  padding: 20px;
  background-image: url('https://res.cloudinary.com/dgtqptpu1/image/upload/v1714445147/negative-space-starry-evening-sky_wenuhm.jpg');
  background-size: 100% 120vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  body {
    background-size: cover;
    background-position: center;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 640px) {
  .mobile-text-smaller-h2 {
    font-size: 0.875rem;
  }

  .mobile-text-smaller-p {
    font-size: 0.75rem;
  }

  .mobile-text-smaller {
    font-size: 1rem;
  }
}
