.icons-container {
  position: relative;
}

.icon-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: floating 3s ease-in-out infinite;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.icon-label {
  font-size: 0.75rem;
  color: #ede8f1;
  margin-top: 0.5rem;
}
/* The skills icons is positioned at a location calculated based on the viewport size.
   This allows the icon's position to adjust dynamically as the viewport size changes. */
.react {
  top: calc(20% + 30vh);
  left: calc(77% + 11vw);
}

.expressjs {
  top: calc(30% + 48vh);
  left: calc(73% + 10vw);
}

.mongodb {
  top: calc(45% + 42vh);
  left: calc(63% + 10vw);
}

.node {
  top: calc(25% + 22vh);
  left: calc(69% + 10vw);
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
